<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/reg.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


  <div class="container">
    <h1>Регистрация</h1>
    <form method="post">
    <div class="input-group">
      <label class="input-label">Имя пользователя</label>

      <input type="text" name="username" class="form-input" placeholder="Введите имя">
    </div>
    
    <div class="input-group">
      <label class="input-label">Пароль</label>

      <input type="password" name="password" class="form-input" placeholder="Создайте пароль"> 
    </div>
 
    
   
    
    <button type="submit">Зарегистрироваться</button>
    <a href="/login" class="input-label">авторизация</a>
  </div>
</form>
  



</body>
</html>
